<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
	</script>
    <title>予約管理画面</title>
  </head>
  <body>
    <h2>予約管理画面</h2>
    <button class="mainbtn" onclick="location.href='http://localhost:3000/reserve_reg'">予約登録</button>
    <button class="mainbtn mainedit" onclick="showEdit()">予約編集</button>

    <table class="maintbl">
        <tr>
            <th width="3%" class="edit">編集</th>
            <th width="12%">ユーザ名</th>
            <th width="15%">店舗名</th>
            <th width="25%">店舗住所</th>
            <th width="15%">予約開始時間</th>
            <th width="15%">予約終了時間</th>
            <th width="15%">受付時間</th>
        </tr>
        <% for (var i = 0; i < data.length; i++) { %>
            <tr>
                <td class="edit">
                    <button onclick="location.href='http://localhost:3000/reg_reserve/<%= data[i].id >'">編集</button>
                </td>
                <td class="icon <%= data[i].icon %>">
                    <%= data[i].lastname + " " + data[i].firstname  %>
                </td>
                <td>
                    <%= data[i].shopname %>
                </td>
                <td>
                    <%= data[i].shopaddress %>
                </td>
                <td>
                    <%= start[i] %>
                </td>
                <td>
                    <%= end[i] %>
                </td>
                <td>
                    <%= regist[i] %>
                </td>
            </tr>
        <% } %>
      </table>
      <footer>
        <p><small>&copy; 2022 Re:Life Co., Ltd. </small></p> 
        </footer>
      <script src="/js/function.js"></script>
  </body>
</html>