<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <title>ユーザ編集画面</title>
  </head>
  <body>
    <h2>ユーザ編集画面</h2>
    <form method="post" action="/edit_user">
        <table class="registertbl">
            <tr>
                <th>項目</th>
                <th>入力</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>（自動発行）</td>
            </tr>
            <tr>
                <td>ユーザID</td>
                <td><input type="text" class="standard" name="username" size="30" value="<%= data.userid %>" placeholder="ユーザIDを入力" required></td>
            </tr>
            <tr>
                <td>年齢</td>
                <td><input type="number" class="standard" name="age" size="50" value="<%= data.age %>" required></td>
            </tr>
            <tr>
                <td>性別</td>
                <% if(data.gender) { %>
                    <td><input type="radio" class="standard" name="gender" value="male" checked="checked">男
                    <input type="radio" class="standard" name="gender" value="female">女</td>
                <% } else { %>
                    <td><input type="radio" class="standard" name="gender" value="male">男
                        <input type="radio" class="standard" name="gender" value="female" checked="checked">女</td>
                <% } %>
            </tr>
            <tr>
                <td>メールアドレス</td>
                <td><input type="text" class="standard" size="50" name="email" value="<%= data.email %>" pattern="[a-zA-Z]{3,}@[a-zA-Z]{3,}[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,}" placeholder="メールアドレスを入力" required></td>
            </tr>
            <tr>
                <td>ログインID</td>
                <td><input type="text" class="standard" name="loginId" value="<%= data.loginid %>" placeholder="ログインIDを入力" required></td>
            </tr>
            <tr>
                <td>パスワード</td>
                <td><input type="password" class="standard" name="loginPass" maxlength="20" value="<%= data.password %>" placeholder="パスワードを入力" required></td>
            </tr>
        </table>
        <div class="registarea">
            <input class="standard" type="submit" value="登録する">
        </div>
    </form>
    <footer>
        <p><small>&copy; 2022 Re:Life Co., Ltd. </small></p> 
    </footer>
  </body>
</html>